


body {

    margin: 0%;
    background: linear-gradient(0deg, rgba(79, 144, 253, 1) 0%, rgba(0, 209, 79, 1) 53%, rgba(253, 153, 15, 1) 100%);
    background-attachment: fixed;
     cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='50' height='50'><text y='50%' font-size='25px'>🐀</text></svg>"), auto !important;
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='50' height='50'><text y='50%' font-size='25px'>🐀</text></svg>"), text !important;
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='50' height='50'><text y='50%' font-size='25px'>🐀</text></svg>"), hand !important; 
 
}

@font-face {
    font-family: "postino-std", serif;
    font-weight: 400;
    font-style: normal;
}

.svg-container {
    position: relative;

    height: 170px;
    /* Ajusta esta propiedad para cambiar la posición vertical */
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, sans-serif !important;
    color: #1723FF !important;
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='50' height='50'><text y='50%' font-size='25px'>🖱️</text></svg>"), auto !important;

}

a.redes {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, sans-serif !important;
    color: rgb(8, 68, 136) !important;
    font-size: 30px !important;
}

path {
    fill: transparent;
}

text {
    font-family: 'Impact', sans-serif !important;
    font-size: 20px !important;
    fill: #ffffff;
    text-shadow: 5px 0px 7px rgba(240, 3, 3, 0.4);
}



h2 {
    font-family: "postino-std", serif;
    color: rgb(0, 0, 0) !important;
    font-size: 40px !important;
    padding-bottom: 5px;
}

p {
    font-family: "Comic Sans MS", "Comic Sans", cursive !important;
    color: #000000 !important;
    font-size: 20px !important;
    line-height: 32px;
    padding-left: 20px;
    padding-right: 20px;

    hyphens: auto;
    margin: 0px !important;

}

.destacado {

    background-color: rgb(238, 241, 44);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    hyphens: auto;


}

.destacado2 {

    background-color: rgb(241, 123, 44);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    hyphens: auto;


}

.descri {
    text-align: center;

    padding: 20px;
    border-radius: 50px;

}

/* // Small devices (landscape phones, 576px and up) */
@media (max-width: 600px) {


    a {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, sans-serif !important;
        color: #1723FF !important;
        font-size: 30px !important;
        padding-bottom: 10px;

    }

    .svg-container {
        position: relative;
        top: 1em;
        height: 70px;

        /* Ajusta esta propiedad para cambiar la posición vertical */
    }



}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {



    a {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, sans-serif !important;
        color: #1723FF !important;
        font-size: 30px !important;
        padding-bottom: 0px;

    }

    .svg-container {
        position: relative;
        top: -7em;
        height: 170px;
        /* Ajusta esta propiedad para cambiar la posición vertical */
    }



}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {


    a {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, sans-serif !important;
        color: #1723FF !important;
        font-size: 20px !important;
    }


}

@keyframes moveDown {
    0%, 100% {
      transform: translateY(20);
    }
    50% {
      transform: translateY(-40px);
    }
   
  }
  @keyframes moveUp {
    0%, 100% {
      transform: translateY(-40);
    }
    50% {
      transform: translateY(20px);
    }
   
  }
